
*{
    padding: 0px;
    margin: 0px;
}

body{

    background-color: cadetblue;
}
.container{
    background-color: black;
    width: 960px;

}
.nav{
    height: 50px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed ;
    z-index: -1;
}
.nav :hover{
    color: cyan;
    font-size: 20px;
}

a {
    float: right;
    padding: 10px;
}

img {
    padding-top: 5px;
    padding-left: 8px;
}